earthengine-api==1.7.4
google-auth==2.40.3
google-api-python-client==2.176.0
pyogrio==0.12.1
pyarrow==22.0.0
shapely==2.0.7
pyproj==3.6.1
pandas==2.3.3
numpy==2.3.1
PyYAML==6.0.2
tqdm==4.67.1
rich==14.0.0
requests==2.32.4
